{
  "openapi": "3.1.0",
  "info": {
    "title": "Cultlike OS Executive Operating System API (Complete ChatGPT & Claude Connector Suite)",
    "description": "Comprehensive, full-permission API & Tool Manifest for ChatGPT Plugins, Custom GPTs, Claude Connectors, and MCP Agents to orchestrate workspace initiatives, sprint tasks, meeting intelligence, Google Drive & Calendar workflows, viral content asset analysis, and multi-channel publishing (YouTube & Instagram).",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://cultlike.ahmvsystems.com",
      "description": "Cultlike OS Production Server"
    }
  ],
  "paths": {
    "/api/chatgpt/overview": {
      "get": {
        "operationId": "getWorkspaceOverview",
        "summary": "Get workspace executive briefing",
        "description": "Fetches an executive workspace snapshot including urgent P0/P1 tasks, active projects, current blockers, velocity, and recent daily logs.",
        "responses": {
          "200": { "description": "Workspace overview fetched successfully." }
        }
      }
    },
    "/api/chatgpt/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List and search tasks",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["todo", "in_progress", "blocked", "shipped", "killed", "active"] } },
          { "name": "priority", "in": "query", "schema": { "type": "string", "enum": ["p0", "p1", "p2", "p3"] } },
          { "name": "project_id", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "date", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": { "200": { "description": "List of tasks." } }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a new task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "priority": { "type": "string", "enum": ["p0", "p1", "p2", "p3"], "default": "p2" },
                  "status": { "type": "string", "enum": ["todo", "in_progress", "blocked", "shipped", "killed"], "default": "todo" },
                  "project_id": { "type": "string" },
                  "due_date": { "type": "string", "format": "date-time" },
                  "time_box_minutes": { "type": "integer", "default": 45 },
                  "output_description": { "type": "string" },
                  "blocked_reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Task created successfully." } }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "string" },
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "priority": { "type": "string", "enum": ["p0", "p1", "p2", "p3"] },
                  "status": { "type": "string", "enum": ["todo", "in_progress", "blocked", "shipped", "killed"] },
                  "project_id": { "type": "string" },
                  "due_date": { "type": "string", "format": "date-time" },
                  "time_box_minutes": { "type": "integer" },
                  "output_description": { "type": "string" },
                  "blocked_reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Task updated successfully." } }
      }
    },
    "/api/chatgpt/tasks/{id}": {
      "get": {
        "operationId": "getTaskById",
        "summary": "Get task by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Task details." } }
      },
      "patch": {
        "operationId": "updateTaskById",
        "summary": "Update task by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "priority": { "type": "string", "enum": ["p0", "p1", "p2", "p3"] },
                  "status": { "type": "string", "enum": ["todo", "in_progress", "blocked", "shipped", "killed"] },
                  "project_id": { "type": "string" },
                  "due_date": { "type": "string", "format": "date-time" },
                  "time_box_minutes": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Task updated successfully." } }
      },
      "delete": {
        "operationId": "deleteTaskById",
        "summary": "Delete task by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Task deleted successfully." } }
      }
    },
    "/api/chatgpt/tasks/microtasks": {
      "post": {
        "operationId": "generateMicrotasks",
        "summary": "Decompose task into executable microtasks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "title": { "type": "string" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "List of microtasks." } }
      }
    },
    "/api/chatgpt/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "responses": { "200": { "description": "List of projects." } }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "status": { "type": "string", "enum": ["active", "paused", "killed", "shipped"], "default": "active" },
                  "priority": { "type": "string", "enum": ["p0", "p1", "p2", "p3"], "default": "p1" },
                  "deadline": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Project created successfully." } }
      }
    },
    "/api/chatgpt/projects/{id}": {
      "get": {
        "operationId": "getProjectById",
        "summary": "Get project by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Project details." } }
      },
      "patch": {
        "operationId": "updateProjectById",
        "summary": "Update project by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Project updated successfully." } }
      },
      "delete": {
        "operationId": "deleteProjectById",
        "summary": "Delete project by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Project deleted successfully." } }
      }
    },
    "/api/chatgpt/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "responses": { "200": { "description": "List of documents." } }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string" },
                  "content": { "type": "string" },
                  "project_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Document created." } }
      }
    },
    "/api/chatgpt/documents/{id}": {
      "get": {
        "operationId": "getDocumentById",
        "summary": "Get document by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Document details." } }
      },
      "patch": {
        "operationId": "updateDocumentById",
        "summary": "Update document by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Document updated." } }
      },
      "delete": {
        "operationId": "deleteDocumentById",
        "summary": "Delete document by ID",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Document deleted." } }
      }
    },
    "/api/chatgpt/daily-logs": {
      "get": {
        "operationId": "listDailyLogs",
        "summary": "Get daily logs",
        "responses": { "200": { "description": "Daily logs." } }
      },
      "post": {
        "operationId": "saveDailyLog",
        "summary": "Save daily log",
        "responses": { "200": { "description": "Daily log saved." } }
      }
    },
    "/api/chatgpt/analytics": {
      "get": {
        "operationId": "getWorkspaceAnalytics",
        "summary": "Get velocity and sprint analytics",
        "responses": { "200": { "description": "Analytics." } }
      }
    },
    "/api/chatgpt/meetings": {
      "get": {
        "operationId": "listMeetings",
        "summary": "List meetings",
        "responses": { "200": { "description": "List of meetings." } }
      }
    },
    "/api/chatgpt/meetings/{id}": {
      "get": {
        "operationId": "getMeetingDetail",
        "summary": "Get meeting details and transcript",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Meeting details." } }
      }
    },
    "/api/chatgpt/meetings/{id}/convert-action": {
      "post": {
        "operationId": "convertMeetingActionToTask",
        "summary": "Convert meeting action item to task",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Action item converted." } }
      }
    },
    "/api/chatgpt/content": {
      "get": {
        "operationId": "getContentVault",
        "summary": "List deliverables in content vault",
        "responses": { "200": { "description": "Content deliverables." } }
      },
      "post": {
        "operationId": "createContentItem",
        "summary": "Create content deliverable",
        "responses": { "200": { "description": "Content item created." } }
      }
    },
    "/api/chatgpt/content/schedule": {
      "post": {
        "operationId": "scheduleContent",
        "summary": "Schedule content deliverable",
        "responses": { "200": { "description": "Content scheduled." } }
      }
    },
    "/api/chatgpt/content/{id}/publish": {
      "post": {
        "operationId": "publishContentItem",
        "summary": "Immediately publish deliverable to YouTube or Instagram",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Deliverable published." } }
      }
    },
    "/api/chatgpt/content/drive": {
      "get": {
        "operationId": "listDriveVideoAssets",
        "summary": "List video exports on Google Drive",
        "responses": { "200": { "description": "Google Drive files." } }
      }
    },
    "/api/chatgpt/content/drive/import": {
      "post": {
        "operationId": "importDriveVideoAssets",
        "summary": "Import video assets from Google Drive into Content Vault",
        "responses": { "200": { "description": "Assets imported." } }
      }
    },
    "/api/chatgpt/content/analyze-asset": {
      "post": {
        "operationId": "analyzeContentAsset",
        "summary": "AI viral hook, caption & schedule optimization",
        "responses": { "200": { "description": "Viral analysis generated." } }
      }
    },
    "/api/chatgpt/content/plan-sprint": {
      "post": {
        "operationId": "planContentSprint",
        "summary": "Auto-schedule assets into sprint",
        "responses": { "200": { "description": "Content sprint planned." } }
      }
    },
    "/api/chatgpt/content/analytics": {
      "get": {
        "operationId": "getContentAnalytics",
        "summary": "Get multi-channel content reach",
        "responses": { "200": { "description": "Content metrics." } }
      }
    },
    "/api/chatgpt/calendar/sync": {
      "post": {
        "operationId": "syncTasksToGoogleCalendar",
        "summary": "Trigger two-way task sync to Google Calendar",
        "responses": { "200": { "description": "Calendar sync completed." } }
      }
    },
    "/api/chatgpt/calendar/events": {
      "get": {
        "operationId": "getGoogleCalendarEvents",
        "summary": "Fetch upcoming Google Calendar schedule & events",
        "responses": { "200": { "description": "Calendar events." } }
      }
    },
    "/api/chatgpt/synthesize": {
      "post": {
        "operationId": "synthesizeProjectPlan",
        "summary": "Synthesize brain dump into phased projects and tasks",
        "responses": { "200": { "description": "Synthesized plan." } }
      }
    },
    "/api/chatgpt/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List user workspaces",
        "responses": { "200": { "description": "Workspaces details." } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "OAuth2Auth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://cultlike.ahmvsystems.com/api/oauth/authorize",
            "tokenUrl": "https://cultlike.ahmvsystems.com/api/oauth/token",
            "scopes": {
              "read": "Read workspace tasks, projects, meeting intelligence, and content deliverables",
              "write": "Create, modify, schedule, and publish deliverables, projects, and sprint tasks"
            }
          }
        }
      }
    }
  },
  "security": [
    { "BearerAuth": [] },
    { "OAuth2Auth": ["read", "write"] }
  ]
}